
.header {
  display: grid;
  grid-template-columns: 2fr 0fr 2fr;
  margin: 92px 24px 96px;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-position: under;
}

.header__menu {
  margin-top: 44px;
  margin-left: 26.5px;
}

.header__menu-list {
  display: flex;
  column-gap: 33.5px;
}

.header__menu-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  justify-self: end;
  margin-top: 6px;
  margin-right: 61.5px;
  font-style: normal;
  white-space: nowrap;
}


/* Конец секции HEADER */


/* Секция MAIN */

.cover {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 757px;
  margin-bottom: 179px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}


/* OVERLAY */


.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
}


/* OVERLAY */


.cover__title {
  z-index: 1;
  margin: 165px 50px 135px;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
  line-height: 115px;
}

.aligned-text_center {
  margin-top: 20px;
  line-height: 100px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 20px;
  line-height: 100px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.cover__description-text {
  margin-left: 78px;
  font-size: 22px;
  font-weight: normal;
  line-height: 52px;
  word-spacing: 18.5px;
}

.bet-button {
  margin-right: 50px;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  color: white;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

/* .lots {
  margin: auto 24px 146px 24px;
}

.lots__heading {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 40px;
} */
