
.header {
  display: grid;
  grid-template-columns: 2fr 0fr 2fr;
  margin: 92px 24px 96px;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-position: under;
}

.header__menu {
  margin-top: 44px;
  margin-left: 26.5px;
}

.header__menu-list {
  display: flex;
  column-gap: 33.5px;
}

.header__menu-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  justify-self: end;
  margin-top: 6px;
  margin-right: 61.5px;
  font-style: normal;
  white-space: nowrap;
}


/* Конец секции HEADER */


/* Секция MAIN */


.cover {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 757px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


/* OVERLAY */


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
}


/* OVERLAY */


.cover__title {
  z-index: 1;
  margin: 165px 50px 135px;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
  line-height: 115px;
}

.aligned-text_center {
  margin-top: 20px;
  line-height: 100px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 20px;
  line-height: 100px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.cover__description-text {
  margin-left: 78px;
  font-weight: normal;
  font-size: 22px;
  line-height: 52px;
  word-spacing: 18.5px;
}

.bet-button {
  margin-right: 50px;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  color: white;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}


/* LOTS */


.lots {
  margin: 179px 24px 146px 24px;
}

.lots__heading {
  display: block;
  margin-left: 40px;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: auto;
  justify-content: space-between;
  row-gap: 25px;
  margin-top: 27px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  display: block;
  flex-grow: 1;
  max-width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: rgba(255, 255, 255, 1);
  font-weight: normal;
  font-size: 20px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}


.card__title {
  z-index: 0;
  display: block;
  margin: 51px 40px auto;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  text-transform: uppercase;
}

.card__text {
  z-index: 0;;
  display: block;
  margin: auto 40px 48px;
}

.lots__look-more-link {
  margin-left: 40px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}


/* ABOUT */


.about {
  display: grid;
  grid-template-columns: 334px auto;
  justify-items: center;
  column-gap: 24px;
  margin-right: 24px;
  margin-left: 24px;
}

.about__column {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  margin-top: 37px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
}

.about__title {
  display: block;
  margin-top: 137px;
  margin-bottom: 76px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: block;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.1px;
}